<nz-layout class="layout">
  <nz-header>
    <div style="display:inline-block; width: 300px">
      <input nz-input placeholder="Search" [(ngModel)]="search" />
    </div>
    <div style="display:inline-block; padding-left:10px">
      <ul
        nz-menu
        [nzTheme]="'dark'"
        [nzMode]="'horizontal'"
        style="line-height: 64px;"
      >
        <li nz-menu-item routerLink="/albums" routerLinkActive="selected">
          Albums
        </li>
        <li nz-menu-item routerLink="/artists" routerLinkActive="selected">
          Artists
        </li>
        <li nz-menu-item routerLink="/playlists" routerLinkActive="selected">
          Playlists
        </li>
        <li nz-menu-item routerLink="/tracks" routerLinkActive="selected">
          Tracks
        </li>
      </ul>
    </div>
    <div style="display:inline-block; padding-left:10px">
      <button
        nz-button
        nzType="default"
        (click)="onSearchClicked()"
        [nzLoading]="isLoading"
      >
        <i nz-icon type="search"></i>Search
      </button>
    </div>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <div style="background:#fff; padding: 24px; min-height: 280px;">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ben Woodward 2018</nz-footer>
</nz-layout>
